<%- include('./parts/header.ejs') %> <%# Navbar %> <%-
include('./parts/navbar.ejs') %>
<div class="container">
  <form action="/" method="GET">
    <select name="category" class="form-control">
      <option value="all">All</option>
      <option value="clothes">Clothes</option>
      <option value="phones">Phones</option>
      <option value="computers">Computers</option>
    </select>
    <input type="submit" class="btn btn-outline-primary mt-3" value="Filter" />
  </form>

  <%- include("./parts/product.ejs") %>
</div>
<%- include('./parts/footer.ejs') %>
