<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="icon" href="/shop-logo.png" />
    <title>Home</title>
  </head>
  <body></body>
</html>
